
@tailwind base;
@tailwind components;
@tailwind utilities;

.fuwafuwa {
    margin:auto;
    animation: fuwafuwa 3s infinite ease-in-out .8s alternate;
    background: url(../img/ico-apple.svg) no-repeat center center / 60px auto;
    /* display: inline-block; */
    transition: 1.5s ease-in-out;
    width: 100px;
    height: 220px;
    margin-top: 15px;
 }

  @keyframes fuwafuwa {
    /* 0% {
      transform:translate(0, 0) rotate(-7deg);
    } */
    50% {
      transform:translate(0, -5px) rotate(0deg);
    }
    /* 100% {
      transform:translate(0, 0) rotate(7deg);
    } */
  }
  
  .anime_test {
    display:  block;                /* ブロック要素にする */
    margin: 0 auto;                 /* 要素中央揃え */
    position:  relative;            /* 位置指定 */
    animation: anime1 0.7s ease;      /* アニメーション指定 */
}

@keyframes anime1 {
    0% {
        opacity:  0;                /* 透明度指定 */
        top: 15px;                  /* 位置指定 */
    }
    100% {
        opacity:  1;                /* 透明度指定 */
        top: 0;                     /* 位置指定 */
    }
}

.balloon2 {
  position: relative;
  display: inline-block;
  margin: 0.8em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}